/* Checkout landing page CSS: */
#next-addresses-button{
    margin-top: 100px;
    margin-right: 20%;
}

#next-addresses-button-loading{
    margin-top: 70px;
    margin-right: 12%;
}




/* Checkout address page CSS: */
#shipping-address{
    margin-right: 100px;
}

#shipping-address-title{
    min-width: 400px;
}

#billing-address-title{
    min-width: 400px;
}

#next-payment-button{
    margin-top: 50px;
    margin-right: 20%;
}

.margin-bottom{
    margin-bottom: 15px;
}

@media (max-width:768px){
    #shipping-address{
        margin-right: 0px;
    }
}





/* Checkout payment page CSS: */
#checkout-payment-title{
    margin-bottom: 50px;
}

#cards-table-left-side{
    margin-right: 100px;
}

#cards-table-right-side{
    /* margin-left:100px; */
}

#new-card-link{
    text-decoration: underline;
    color: primary;
    font-size: 22px;
} 

#finish-order-button{
    margin-top: 50px;
    margin-right: 25%;
} 

@media (max-width:768px){
    #finish-order-button{
        margin-right: 0px;
        text-align: center;
    }
}




/* Checkout purchase complete CSS: */
#purchase-complete-title{
    color: #72c068;
    width: 450px;
    margin: 0 auto;
    margin-bottom: 30px;
}

#purchase-complete-text{
    font-size: 30px;
    width: 450px;
    margin: 0 auto;
}