.Logo{
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
    z-index: 1000;
}

.Logo:hover{
    cursor: pointer;
}

.Logo img {
    height: 40px;
}


@media(max-width: 767px) {
    .Logo{
        height: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .Logo img {
        margin-left: -70px;
    }
}

@media(min-width: 768px) {
    .Logo{ 
        height: 50px;
    }
    .Logo img {
        height: 50px;
    }
}

@media(min-width: 992px) {
    .Logo{
        height: 56px;
    }
    .Logo img {
        height: 56px;
    }
}
