#next-page-button{
    position: absolute;
    margin: 0 auto;
    background: none;
    border: none;
    color: inherit;
    width: 160px;
}

#top-part{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

#next-page-title{
    margin-top: -3px;
}

#triangle{
    height:20px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 25px solid #F98F3E;
    margin-top: 4px;
    margin-left: 10px;
}

#next-page-text{
    white-space: nowrap;
    text-align: center;
}