.last-order-card {
  width: 260px;
  height: 52px;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
}

.last-order-button {
  min-height: 0px !important;
  height: 100%;
}

.border-2 {
  border-width: 2px;
}

.last-order-card > .card-title {
  display: none;
}

.last-order-card > .card-text {
  display: none;
}

@media screen and (min-width: 1000px) {
  .last-order-card {
    text-align: left;
    width: 321px;
    height: 290px;
    margin-bottom: 1rem;
  }

  .last-order-button {
    position: absolute;
    min-height: 0px !important;
    height: 61px;
    width: 100%;
    bottom: 0;
  }

  .border-2 {
    border-width: 2px;
  }

  .last-order-card > .card-title {
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.45rem;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .last-order-card > .card-text {
    display: inline-block;
    font-size: 1.33rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
