#privacy-and-terms-modal{
    min-height: auto;
    min-width:50%;
    margin-top: 50px;
    text-align: center;
    border: solid;
    border-width: 3px;
    border-color: #116cb4
}

#privacy-and-terms-modal-header{
    border: none;
    margin-top: -20px;
    margin-right: -15px;
}

#privacy-and-terms-modal-title{

}

#privacy-and-terms-modal-content{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 50px;
    margin-left: 50px;
    text-align: justify;
    min-height: auto;
    font-size: 20px;
}

@media (max-width:600px){

    #privacy-and-terms-modal{
        margin-top: 0px;
    }

    #privacy-and-terms-modal-content{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }

}