.login-holder {
  z-index: 60;
  background: #fff;
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
}

.login-card {
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
  border-style: solid;
  border-width: 2px;
}

.login-header {
  height: 45px;
  text-align: left;
  margin-bottom: 0.5rem;
  /* Background linear gradient */
  background: rgba(88, 154, 211, 1);
  background: -moz-linear-gradient(
    left,
    rgba(88, 154, 211, 1) 0%,
    rgba(255, 255, 255, 0.53) 15%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(88, 154, 211, 1)),
    color-stop(15%, rgba(255, 255, 255, 0.53)),
    color-stop(100%, rgba(255, 255, 255, 0))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(88, 154, 211, 1) 0%,
    rgba(255, 255, 255, 0.53) 15%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(88, 154, 211, 1) 0%,
    rgba(255, 255, 255, 0.53) 15%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(88, 154, 211, 1) 0%,
    rgba(255, 255, 255, 0.53) 15%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(88, 154, 211, 1) 0%,
    rgba(255, 255, 255, 0.53) 15%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#589ad3', endColorstr='#ffffff', GradientType=1 );
}

.login-header > img {
  height: 100%;
}

.login-body {
  display: block;
  width: 100%;
}

.login-forgot {
  display: block;
  text-align: left;
  margin-top: -1rem;
  font-size: 13px;
  font-weight: bold;
}

.login-footer {
  position: relative;
  height: 50px;
}

.login-signup {
  display: inline-block;
  position: absolute;
  left: 26px;
  top: 25%;
}

/* @media (max-width: 768px) { */
/*   .accept-button { */
/*     width: 60px; */
/*   } */
/* } */

.login-button {
  position: absolute;
  min-height: 30px;
  height: 40px;
  right: 26px;
  top: 0px;
}

.login-link-holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

.login-link-holder a {
  font-weight: bold;
  font-size: 12px;
}

.login-link-holder .text-help {
  padding-left: 2rem;
}

.login-link-holder .text-conditions {
  text-align: center;
}

.login-link-holder .text-privacy {
  text-align: right;
  padding-right: 2rem;
}
