.address-management-card {
  height: 114px;
  width: 320px;
  text-align: left;
  border-width: 2px;
  margin-bottom: 1rem;
}

.address-management-card > .card-text {
  position: absolute;
  top: 1.5rem;
  margin-left: 1rem;
  margin-right: 55px;
  line-height: 1.3rem;
  margin-bottom: 0;
  font-size: 18px;
}

.address-management-card > .card-title {
  margin-left: 0.1rem;
  margin-bottom: 0.1rem;
  font-weight: bold;
}

.address-management-card > .button-holder {
  width: 50px;
  height: 100%;
  position: absolute;
  right: 0;
  /* border: 1px solid red; */
  padding: 0 !important;
}

.address-management > .manage-edit-button {
  padding: 0 !important;
  height: 50px;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

.address-management > .delete-button {
  padding: 0 !important;
  height: 50px;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}
