.delete-button {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 500px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.delete-button > img {
  min-width: 10px;
  max-width: 45px;
  min-height: 10px;
  max-height: 45px;
  /* width: 33%; */
  height: 50%;
  width: auto;
  vertical-align: middle;
}

.delete-button:hover > img {
  transform: scale(1.3);
}

.delete-button::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.tiny-fix {
  /* This is used in case the box is too small
        Specially crafter for the 22x22px 
    */
  position: absolute;
  top: 5px;
  left: 5px;
}
