:root {
  --primary: #116cb4;
  --secondary: #72c068;
}

.cart-container {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  background: url("./cart.svg");
  background-size: cover;
  background-position: center;
  transition: all 0.1s linear;
  cursor: pointer;
}

.cart-text {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 2px;
  right: 14px;
  user-select: none;
  font-size: 1.6rem;
}

.cart-text-ten {
  top: 0px;
  right: 4px;
}

.cart-container:hover {
  background-size: 107%;
}

.cart-container .cart-tooltip {
  opacity: 0;
  font-size: 1rem;
  width: 50px;
  max-width: 50px;
  top: 100%;
  left: 50%;
  margin-left: -25px;
  overflow: hidden;
  position: absolute;
  color: transparent;
  user-select: none;
  transition: opacity 0.3s ease-in-out;
}
.cart-container:hover .cart-tooltip {
  opacity: 1;
  border-bottom: 2px var(--secondary) dashed;
  background: var(--secondary);
  color: var(--primary);
  z-index: 1;
}

.hidden {
  display: none;
}

.coin {
  position: absolute;
  z-index: 2;
  top: -100%;
  left: 17px;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background: var(--secondary);
  animation: coin-animation 1.2s linear 0s 1 forwards;
}

body {
  margin: 0;
}

@keyframes coin-animation {
  0% {
  }
  35% {
    top: 10px;
  }
  65% {
    opacity: 1;
  }
  80% {
    top: 8px;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
