.signup {
  display: grid;
  grid-template-columns: 10px auto 10px;
  margin-top: 50px;
}

.signup-bg {
  margin-top: 465px;
  grid-row: 1;
  grid-column: 1 / 4;
  background:  #7A63C7;
  height: 100%;
}

.signup-login {
  grid-row: 1;
  grid-column: 2;
}
