.image-upload input{
    display: none;
}

.image-upload img{
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.image-upload{
    width: 200px;
    height: 200px;
}

.dotted{
    border-style: dashed;
}