
#payment-card-whole{
    width: 300px;
    height: 100px;
    border: 1px solid lightgray;
    box-shadow: 0px 4px 8px #cccccc;
    margin: 15px 50px 0px 0px;
    padding: 10px 15px;
}

#payment-card-button-container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#payment-card-button-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#payment-card-button-checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    margin-top: 13px;
    border-color: black;
    border: solid;
    border-width: 1px;
    border-radius: 50%;
}

#payment-card-button-container:hover input ~ #payment-card-button-checkmark {
    background-color: #ccc;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  #payment-card-button-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  #payment-card-button-container input:checked ~ #payment-card-button-checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  #payment-card-button-container #payment-card-button-checkmark:after {
    top: 2px;
    left: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #72c068;
  }

#payment-card-icon{
    height: 35px;
    width: 35px;
    margin-left: 40px;
}

#payment-card-number{
    font-weight: bold;
    color: #116cb4;
    float: right;
    margin-top: -40px;
    margin-right: 20px;
    font-size: 23px;
}

#payment-card-delete{
    color: #f98f3e;
    font-size: 17px;
    float: right;
    margin-right: 20px;
}

#payment-card-delete:hover{
  text-decoration: underline;
  cursor: pointer;
}

@media(max-width: 767px) {
  #payment-card-whole{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 10px 15px;
  }

  #payment-card-icon{
    height: 25px;
    width: 25px;
    margin-left: 35px;
  }

  #payment-card-number{
    margin-right: 7px;
    font-size: 15px;
  }

  #payment-card-delete{
    color: #f98f3e;
    font-size: 15px;
    float: right;
    margin-right: 7px;
  }
}