.AddProductTitle{
    padding-bottom: 27px;
}

.FormField{
    margin-bottom: 30px;
    padding: 20px 15px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.IsDigital{
    margin-top: -25px;
    margin-bottom: -5px;
}

.AddProduct{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: white;
    width: 100%;
}

.OverwriteButton {
    opacity: 0;
    overflow: hidden;
    top: -20px;
    position: relative;
}

.UploadImage{
    font-family: "Roboto", sans-serif;
    color: white;
    border-radius: 5px;
    background-color: #116cb4;
    padding: 10px;
    text-align: center;
}

.DisplayImageSpace{
    width: 100%;
    border: solid;
    border-width: 2px 2px 0px 2px !important;
    border-color: #575a61 !important;
}


@media(max-width: 767px) {
    .FormField{
        margin-bottom: 15px;
    }
    .IsDigital{
        margin-bottom: -15px;
    }
    .AddProduct{
        margin-top: -20px;
    }
}