.pruduct-managment-card {
  padding: 0;
  width: 100%;
  position: relative;
}

.noUnderline {
  text-decoration: none;
}

.pruduct-managment-container {
  margin: 10px;
  position: relative;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 10px;
}

.product-name {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: start;
  padding: 5px;
  margin: 0px !important;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.product-price {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 0 5px 0 0 !important;
  text-align: start;
  display: block;
}

/* resize images */
.image-container img {
  height: auto;
  width: auto;
  max-width: 100%;
  border-radius: 8px;
}

.card-button-product {
  width: 100%;
}

.name-price-card-container {
  display: flex;
  padding: 5px;
}

.text-card-container {
  flex: auto;
  vertical-align: middle;
}

.loading-button > img {
  display: none;
}

.indigo-transition {
  background: #116cb4;
  transition: 1s ease-in;
}

.green-transition {
  background: #72c068;
  transition: 1s ease-in;
}

.orange-transition {
  background: #f98f3e;
  transition: 1s ease-in;
}

@keyframes slide {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(+200%);
  }
}

@keyframes slide-screen {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(+100vw);
  }
}

@media (max-width: 576px) {
  .pruduct-managment-container {
    display: flex;
    width: 100%;
    height: 150px;
    min-width: 300px !important;
  }

  .loading-button * {
    animation: 5s linear infinite slide-screen;
    overflow: hidden;
  }

  .image-container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-width: 40%;
    padding: 5px;
  }

  .image-container img {
    max-height: 100%;
  }

  .body-card-container {
    width: 60%;
  }

  .card-button-product {
    border-radius: 0px 0px 8px 0px !important;
    min-height: 40px;
  }
}

.add-to-cart-button {
  width: 100%;
  margin-bottom: 3rem;
}
@media (min-width: 576px) {
  .pruduct-managment-container {
    padding: 0;
    width: 240px;
    height: 350px;
  }
  .product-name {
    overflow: hidden;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  .loading-button * {
    animation: 5s linear infinite slide;
    overflow: hidden;
  }

  .image-container {
    height: 220px;
    width: 100%;
    max-width: 100%;
    padding: 5px;
  }

  .image-container img {
    max-height: 210px;
  }

  .body-card-container {
    width: 100%;
    min-height: 200px;
  }

  .card-button-product {
    border-radius: 0px 0px 8px 8px !important;
  }
}
