.RegisteredCards{
    display: flex;
    flex-flow: row wrap;
}

.NoCardsLabel{
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    margin-top: 40px;
}

.LoadingMessage{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    margin-top: 25px;
}

.AddCard{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-top: 40px;
    font-weight: 700;
}

.AddCard:hover{
    cursor: pointer;
    text-decoration: underline;
}