.LayoutWindowCustomer{
    padding-top: 140px;
}

.DrawerOpenCustomer{
    padding-top: 140px;
    padding-left: 165px;
}

@media(max-width: 768px) {
    .DrawerOpenCustomer{
        padding-top: 140px;
        padding-left: 0px;
    }
}