.contactus {
  max-width: 960px;
  margin: 0 auto;
}

.contactus-title {
  text-align: center;
}

.contactus-form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2px;
}

.contactus-message, .contactus-sendButton {
  grid-column: 1 / 3;
}

.contactus-sendButton button {
  width: 20rem;
}

@media (max-width: 576px) {
  .contactus-form {
    grid-template-columns: 100%;
  }

  .contactus-email {
    grid-row: 2;
  }
}

@media (min-width: 768px) {
  .contactus-sendButton {
    text-align: right;
  }
}

@media (max-width: 768px) {
  .contactus-sendButton {
    text-align: center;
  }
  .contactus-message, .contactus-email, .contactus-name {
    grid-column: 1 / 3;
  }
}
