.CardFormContainer {
    padding: 10px;
    height: 92px;
    width: 100%;
    margin-top: 15px;
}

.FormFields{
    margin-top: 10px;
    border: 2px solid lightgray;
    padding: 10px;
    height: 40px !important;
}

.SaveCard{
    height: 40px !important;
    margin-left: 18px;
    margin-top: 10px;
}

.CardErrorMessage{
    color: red;
    font-size: 13px;
}

@media(max-width: 767px) {
    .CardFormContainer {
        height: 150px;
    }

    .FormFields{
        margin-left: 0px;;
    }

    .SaveCard{
        margin: 0;
    }

    .CardErrorMessage{
        margin-top: 8px;
    }
}