.auto-circle {
  max-height: 32px !important;
  min-height: 32px !important;
  height: 32px;
  width: 32px;
  display: inline-block;
}

.circle-text {
  font-size: 32px;
  margin: 0;
  margin-top: -46px;
  margin-left: -5px;
}
