.SideDrawer {
    position: fixed;
    width: 168px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0px;
    z-index: 2000;
    background-color:#116cb4;
    padding: 32px 0px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}


.Open{
    transform: translateX(0);
}

.Close{
    transform: translateX(-100%);
}

@media(min-width: 768px) {
    .SideDrawer{
        top: 105px;
    }
}