.address-card {
    height: 114px;
    border: none;
  }

  .address-card:hover {
    background-color: #72c068;
    color: white;
  }
  
  .address-card > .card-text {
    position: absolute;
    top: 1.5rem;
    margin-left: 1rem;
    margin-right: 55px;
    line-height: 1.3rem;
    margin-bottom: 0;
    font-size: 18px;
    user-select: none;
  }
  
  .address-card > .card-title {
    margin-left: 0.1rem;
    margin-bottom: 0.1rem;
    font-weight: bold;
  }
  
  .address-card > .button-holder {
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0;
    padding: 0 !important;
  }