.quantity-container {
    display: flex;
    width: 100%;
    height: 35px;
}

.value-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    width: 30%;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
}

.value-button:hover {
    cursor: pointer;
}

#decrease {
    margin-right: 0px;
    border-radius: 8px 0 0 8px;
}

#increase {
    margin-left: 0px;
    border-radius: 0 8px 8px 0;
}

input#number {
    text-align: center;
    border: none;
    margin: 0px;
    width: 40%;
    height: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input#number:focus {
    outline: none;
}