.address-display input {
  border: none !important;
  cursor: default;
  margin-bottom: 0px;
  text-align: right;
  height: 100%;
  border-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.address-display textarea {
  border: none !important;
  cursor: default;
  margin-bottom: 0px;
  text-align: right;
  height: 100%;
  border-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  resize: none;
}
/* .address-display input:read-only {
  background: #575a61;
  color: #f2f2f2;
}
.address-display textarea:read-only {
  background: #575a61;
  color: #f2f2f2;
} */
.address-display .form-group div.col {
  padding: 0;
}

.address-display .form-group {
  border: #72c068 1px solid !important;
  margin-bottom: 0.75rem;
  margin-left: 0px;
  margin-right: 0px;
  z-index: 2;
}

.address-display label {
  border-right: #72c068 1px solid !important;
  background: #72c068;
  color: white;
  font-size: 1.2rem;
  min-width: 140px;
  user-select: none;
}

.address-display input:focus {
  box-shadow: none;
}

.address-display .edit-button {
  margin-top: 1rem;
}
