.admin-add-button {
    display: inline-block;
    margin: 0 1rem;
}

.admin-add-button button {
    position: relative;
    top: -10px;
}

.admin-title {
    display: inline-block;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
    line-height: 0;
    background: chocolate;
}