.Item{
    margin: 6px 0px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 40px;
    background-color: #589AD3;
    
}

.Item a {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 600px;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 5px 15px 5px 15px ;
    text-align: left;
}

.Item:hover,
.Item:active,
.Item:active{
    background-color: #5CA0DC;
}
