.cart-icon {
  padding: 0 !important;
  min-width: 160px !important;
  height: 57px;
}

.accept-button {
  min-width: 10rem;
}

@media (max-width: 576px) {
  .accept-button {
    min-width: .5rem;
  }
}
