.button {
  position: relative;
  display: block;
  width: 100%;
  height: 57px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
}

.button > p {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  margin: 0px;
}
.button > img {
  /* Icon handling */
  height: 100%;
}

.button:hover > * {
  /* Generic response for hovering */
  transform: scale(1.1);
}
.button::before {
  /* Vertical align helper */
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.border-2 {
  /* Override border */
  border: 2px solid transparent !important;
}

.button-icon-padding {
  /* Helps separate the icon and the text */
  display: inline-block;
  width: 1%;
}

.auto-height {
  height: 100%;
}

.icon-only > img {
  max-height: 50px;
  height: 35%;
}
