.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

.SectionTitle {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: white !important;
    font-weight: 600;
    text-align: left;
    padding-left: 15px;
   
}

.TitlesContainer{
    margin: 6px 0px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 25
    px;
     margin-bottom: -10px;
}

.Dividers{
    border-top: 5px solid #72c068;
    
}