.filter-sort-modal-body-text {
  font-size: 1em;
}

.filter-sort-modal {
  width: 350px;
}

.filter-sort-modal-button {
  min-height: 0px;
  height: 35px;
}

.filter-sort-modal .modal-footer {
  border-top: none;
  padding: 0.5rem 1rem 1rem 1rem;
}

.filter-sort-modal .modal-header {
  border-bottom: none;
}

.filter-sort-modal .filter-body {
  max-height: 210px;
  overflow: auto;
}

.filter-sort-clear-button {
  min-height: 0px;
  height: 35px;
  display: block;
}

.filter-sort-modal h1 {
  font-size: 1.5rem;
  text-align: left;
  font-weight: bold;
}

.filter-sort-modal .form-control {
  background: #dddddd;
}
