.filter-sort-modal-body-text {
  font-size: 1em;
}

.filter-sort-modal {
  width: 300px;
}

.filter-sort-modal-button {
  min-height: 0px;
  height: 35px;
}

.filter-sort-modal .modal-footer {
  border-top: none;
  padding: 0.5rem 1rem 1rem 1rem;
}

.filter-sort-modal .modal-header {
  border-bottom: none;
}

.filter-sort-clear-button {
  min-height: 0px;
  height: 35px;
  display: block;
}
