.LayoutWindowCustomer{
    padding-top: 140px;
    padding-left: auto;
    padding-right: auto;
}


@media(min-width: 768px) {
    .LayoutWindowCustomer{
        padding-left: 150px;
    }
}