.toggle-visibility-button {
  display: inline-block;
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.open-eye {
  background: url("./open-eye.svg");
  background-size: cover;
}

.closed-eye {
  background: url("./closed-eye.svg");
  background-size: cover;
}
