#buttons-container{
    padding: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#buttons-container > .button {
    width: 150px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3px;
}

#alert-modal{
    height: auto;
    min-height: 150px;
    border-style: solid;
    border-color: #589ad3;
}

#modal-text{
    margin: auto;
    height: auto;
    min-height: 150px;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}

.modal-content{
    background-color: rgb(240, 240, 240);
    color: #575a61;
}