.guest-info-form {
  margin-bottom: 3.5rem;
}

.guest-info-form input {
  border: none !important;
  cursor: default;
  margin-bottom: 0px;
  text-align: right;
  height: 100%;
  border-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  min-width: 8rem;
}

.guest-info-form textarea {
  border: none !important;
  cursor: default;
  margin-bottom: 0px;
  text-align: right;
  height: 100%;
  border-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  resize: none;
}
/* .guest-info-form input:read-only {
  background: #575a61;
  color: #f2f2f2;
}
.guest-info-form textarea:read-only {
  background: #575a61;
  color: #f2f2f2;
} */
.guest-info-form .form-group div.col {
  padding: 0;
}

.guest-info-form .form-group {
  border: #72c068 1px solid !important;
  background: #72c068;
  margin-bottom: 0.75rem;
  margin-left: -1rem;
  margin-right: -1rem;
  z-index: 2;
}

.guest-info-form label {
  border-right: #72c068 1px solid !important;
  background: #72c068;
  color: white;
  font-size: 1.2rem;
  min-width: 140px;
  user-select: none;
}

.guest-info-form input:focus {
  box-shadow: none;
}

.guest-info-form .edit-button {
  margin-top: 1rem;
}

@media screen and (max-width: 575px) {
  .guest-info-form .form-group {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
@media screen and (max-width: 373px) {
  .guest-info-form .form-group {
    margin-left: 0rem;
    margin-right: -1rem;
  }
}

@media screen and (min-width: 769px) {
  .guest-info-form .form-group {
    margin-left: -4rem;
    margin-right: -4rem;
  }
}

@media screen and (min-width: 992px) {
  .guest-info-form .form-group {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .guest-info-form .form-group {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
