.Status{
    padding: 5px;
    margin: 5px;
    box-shadow: 0 1px 3px #cccccc;
    text-align: center;
    width: 150px;
    height: 30px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: black !important;
}

.LabelIcon{
    width: 10px;
    height: 10px;
    vertical-align: center;
}

.PreOrderSteps{
    background-color: #F98F3E
}

.ShippingSteps{
    background-color: #F2C94C
}

.PartiallyShipped{
    background-color: #FFEAAA
}

.Attention{
    background-color: #FFF000
}

.Refunded{
    background-color: #9C86E4;
}

.PartiallyRefunded{
    background-color: #CEC0FF
}

.Cancelled{
    background-color:#EB5757
}

.Declined{
    background-color: #FF9E9E
}

.CompletitionSteps{
    background-color: #6BDE6B
}