.quantity-container {
    display: inline-block;
    position: relative;
    height: 35px;
    width: 20%;
}

.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 20%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 4px 0 !important;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 1rem;
}

.value-button-left {
    position: absolute;
    left: 0;
    top: 0;
}

.value-button-right {
    position: absolute;
    right: 0;
    top: 0;
}

.value-button:hover {
    cursor: pointer;
}

#decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
}

#increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
}

input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 60%;
    height: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}