#order-info-modal{
    min-height: auto;
    border: solid;
    border-width: 3px;
    border-color: #116cb4;
    margin: 50px auto;
}

#order-info-modal-header{
    border: none;
    margin-top: -20px;
    margin-right: -15px;
}

#order-info-modal-title{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: -20px;
}

#order-info-modal-ordernumber{
    text-align: center;
    margin-top: -20px;
    font-size: 1.2rem;
    font-weight: bold;
}

#order-info-modal-status{
    text-align: center;
    margin-top: -20px;
    margin-bottom: 20px;
}

#order-info-modal-content{
    float: left;
    min-height: 400px;
    border: solid;
    border-width: 2px;
    border-color: #116cb4;
    margin-bottom: 30px;
}

#order-info-modal-products{
    display: block;
}

.modal-backdrop{
    display: none;
}

.modal{
    background: rgba(0,0,0,0.5);
}

@media (max-width:600px){
    #order-info-modal{
        max-width: 365px;
    }
    #order-info-modal-title{
        margin-top: -20px;
        margin-bottom: 10px;
    }
    
    #order-info-modal-status{
        text-align: center;
        margin-left: 0;
        margin-bottom: 20px;
    }
    #order-info-modal-content{
        max-width: 300px;
    }
}