#order-info-modal{
    min-height: auto;
    min-width: 50%;
    margin-top: 50px;
    border: solid;
    border-width: 3px;
    border-color: #116cb4
}

#order-info-modal-header{
    border: none;
    margin-top: -20px;
    margin-right: -15px;
}

#order-info-modal-title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#order-info-modal-status{
    text-align: center;
    margin-left: 380px;
    margin-top: -55px;
}

#order-info-modal-content{
    min-height: 600px;
    text-align: center;
}