.LoadingView{
        display: flex;
        flex-flow: row wrap;
        width: 90%;
        margin: auto;
        justify-content: center;
        padding-top: 50px;
}

.Spinner{
    width: 50px;
    height: 50px;
    justify-content: center;
    margin-top: 50px;
}

.ProductsDisplay{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.PagesDisplay{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    padding: 30px;
    margin: auto;
}

.SinglePage{
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 10px 15px;
    z-index: 10;
}

.SinglePage:hover{
    text-decoration: underline;
}