
#order-card-whole{
    height: auto;
    border-top: 2px;
    border-top: solid;
    border-top-color: lightgrey;
    padding: 0;
    margin-bottom:20px;
}

#order-card-icon{
    height: 70px;
    width: 70px;
    margin-top: 20px;
    float: left;
}

#order-card-icon:hover{
    cursor: pointer;
}

#order-card-number{
    font-weight: bold;
    color: #116cb4;
    margin-top: 15px;
    margin-left: 80px;
    font-size: 1rem;
    cursor: pointer;
}

#show-order-button{
    text-decoration: underline;
}

#show-order-button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#order-card-status{
    margin-top: -4px;
    margin-right: 10px;
}

#order-card-product{
    font-weight: bold;
    margin-left: 80px;
    user-select: none;
}

#order-card-cost{
    font-weight: bold;
    color: #f98f3e;
    font-size: 20px;
    margin-left: 80px;
    user-select: none;
    justify-content: space-between;
}

@media (max-width:500px){
    #order-card-whole{
        min-width: 440px;
    }
}

@media (min-width: 700px){
    #order-card-whole{
        margin-right: 80px;
    }
}

@media (min-width:765px) and (max-width:1180px){
    #order-card-whole{
        min-width: 500px;
    }
}