
    #order-card-whole{
    height: 120px;
    border-top: 2px;
    border-top: solid;
    border-top-color: lightgrey;
    padding: 0;
}

#order-card-icon{
    height: 70px;
    width: 70px;
    margin-top: 20px;
    float: left;
}

#order-card-number{
    font-weight: bold;
    text-decoration: underline;
    color: #116cb4;
    margin-top: 10px;
    margin-left: 100px;
    font-size: 20px;
    cursor: pointer;
}

#order-card-status{
    margin-left: 280px;
    margin-top: -30px;
}

#order-card-product{
    font-weight: bold;
    margin-left: 100px;
    user-select: none;
}

#order-card-cost{
    font-weight: bold;
    color: #f98f3e;
    font-size: 20px;
    margin-left: 100px;
    user-select: none;
}


@media (max-width:500px){
    #order-card-whole{
        min-width: 400px;
    }
}

@media (min-width: 700px){
    #order-card-whole{
        margin-right: 80px;
    }
}